.Cell {
  display: flex;
  justify-content: flex-start;
  padding: 5px;
  border-left:  1px solid #eee;
  border-top:  1px solid #eee;  
  border-right: 1px solid #eee;
  font-size: 12px;
  color: black !important;
}

.cellData {
  color: black !important;
}

.breakdownIcon {
  margin-right: 4px;
  font-size: 12px;  
}

.popup {
  width: 200px;
  font-size: 12px;
}

.headerCell {
  display: flex;
  justify-content: flex-start;
  padding: 5px;
  font-size: 12px;
}

.headerResizeBar {
  height: 100%;
  width: 5px;
  cursor: ew-resize;
  position: absolute;
  border-right: 1px solid #eee;
  right: 0;
  top: 0;
}

.headerResizeBar::selection {
  color: green !important;
}